include MANIFEST.in
include license.txt
include readme.txt
include setup.py

recursive-include doc *.html
recursive-include doc *.png
recursive-include doc *.css
recursive-exclude . *.gz
recursive-exclude . *.profile
